

body {
    box-sizing: border-box;
   /* width: 1440px;
height: 2844px; */
background-color: #fff;
font-family: Raleway;
}




.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 1340px;
    height: 109px;
    border: 1px solid black;
    margin: 92px 49px 92px 51px;
}
.menu {
    display: block;
}
.logo_dark {
    width: 136px; /*Непонятно, почему у логотипа не те пропорции, что в макете. Пришлось подбирать ширину искусственно*/
    height: 105px;
}
.addres {
    max-width: 256px;
}

ul {
    list-style-type: circle; 
}
.header_menu-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.header__menu-link {
    color: black;
    font-size: 16px;
    line-height: 19.2px;
    
}

.header__menu-item_active .header__menu-link {
    text-decoration: none;
    text-decoration-line: underline;
}

.header__menu-item_inactive { /*Пока непонятно, как убрать кружок у первого пункта меню */
    list-style-type: none; 
}

.cover {
    width: 1440px;
    height: 757px;
    background-image: url(../images/cover.jpg);
}

.overlay {
    display: block; 
    margin: 0;
    padding: 165px 50px;
    color: #FFF;
}

.cover_title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    width: auto;
font-family: Raleway;
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: 115%; 
letter-spacing: 30px;
text-transform: uppercase;

}

.title_first_string {
    display: flex;
    flex-direction: row;
    gap: 0;

}

.accent_span {
  /*  display: block; */
    letter-spacing: 30px;
}

.accent_span_spacing {
    letter-spacing: 60px;
}

.title_second_string {
    text-align: center;
}

.title_third_string {
    text-align: right;
}

.subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
text-transform: uppercase;
margin: 107px 0px 0px;
padding: 0;
}

.subtitle_text {
  
    word-spacing: 30px;
}

.bet_button {
    color: #FFF;
    background-color: rgb(0 0 0 / 0.1);
    padding: 12px 32px;
    border: 1px solid #fff;
text-align: center;

font-size: 22px;

font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

.lots {
    display: flex;
  flex-direction: column;
  min-width: 1340px;
  min-height: 579px;
}

.lots_title {
    display: flex;
  justify-content: flex-start;
  padding: 0 40px;
  color: black;
  font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.lots_card {
    display:flex;
    flex: 1 0 430px;
    color: #FFF;
}

.lot_link {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase; 
}

.lots_article {

}