

body {
 
    width: 1440px; 
    color: black;
  background-color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  
  a:hover {
      cursor: pointer;
  }
  
  
  
  .header {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      width: 1340px;
      height: 109px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      margin: 92px 49px 92px 51px;
  }
  
  
  .header_logo {
      display: flex;
     
      justify-content: flex-start;
      align-items: flex-start;
   width: 295px;
  }
  
  .header_logo_image {
      width: 148px;   
  }
  
  .contacts {
      
      text-underline-position: under;
  }
  
  .address {
      max-width: 240px;
     
  }
      
  .header_menu-list {
      display: flex;
      flex-direction: row;
      gap: 32px;
      justify-content: center;
     
  
  
  }
  
  .header__menu-item {
      list-style-type: none; 
  }
  .header__menu-link {
      display: list-item; 
   }
  
  .header__menu-item_active .header__menu-link {
      list-style-type: circle; 
      text-decoration: none;
      text-decoration-line: underline;
      text-underline-position: under;
  }
  
  .contacts {
      line-height: 24.3px; 
  }
  
  .cover {
      height: 757px;
      background-image: url(../images/cover.jpg);
      background-size: cover;
  }
  
  .overlay {
      display: block; 
      color: #FFF;
      border: 1px solid rgb(0 0 0 / 0.1);
      background-color: rgb(0 0 0 / 0.5);
      height: 100%;
  }
  
  .cover_title {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 165px 50px 0 50px;
    font-size: 100px;
  font-weight: 700;
  line-height: 115%; 
  letter-spacing: 30px;
  text-transform: uppercase;
  
  }
    
  .letter-spacing-extended {
      letter-spacing: 60px;
  }
  
  .aligned-text {
      display: flex;
      flex-direction: row;
      gap: 0;
  
  }
  
  .aligned-text_center {
      display: flex;
      flex-direction: row;
      gap: 0;
      justify-content: center;
  }
  
  .aligned-text_right {
      display: flex;
      flex-direction: row;
      gap: 0;
      justify-content: end;
      text-align: end;
      margin-right: -30px;
      margin-top: -7px;
  }
  
  .cover__description {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 22px;
  line-height: 28px; 
   text-transform: uppercase; 
  margin: 128px 50px 0px 50px;
  }
  
  
  .cover__description_empty_box {
      width: 288px;
  }
  
  .cover__description-text {
      display: inline;
      width: 650px;
      word-spacing: 17px;
      padding-left: 10px;
  }
  
  .cover__description-text_start {
      display: inline-block;
      text-align: start;
      
  }
  
  .cover__description-text_end {
      display: inline-block;
      text-align: end;
      word-spacing: 22px;
  }
  
  .bet_button {
      color: #FFF;
      background-color: rgb(0 0 0 / 0.1); 
      padding: 12px 32px;
      border: 1px solid #fff;
  font-size: 22px;
  text-transform: uppercase;
  }
  
  .bet_button:hover {
      cursor: pointer;
  }
  
  .lots {
      display: flex;
    flex-direction: column;
    padding: 180px 50px 181px;
    min-width: 1340px;
    min-height: 579px;
  }
  
  .lots__heading {
      display: flex;
    justify-content: flex-start;
    padding: 0 40px 27px;
    
    font-size: 40px;
  
  font-weight: 700;
  
  text-transform: uppercase;
  }
  
  .lots__card-list {
      display: flex;
      flex-direction: row;
      gap: 25px;
      flex-wrap:wrap;
  
  }
  
  .lots__card-list-item {
      display:flex;
      flex: 1 0 430px;
      color: #FFF;
      min-height: 450px;
      background-size:cover;
  }
  
  a:link {
      text-decoration:none;
  }
  
  .card {
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 50px 39px; 
      width: 100%;
      height: 100%;
      
  }
  
  .card-header {
    /*  margin: 0; */
      font-size: 22px;
      font-weight: 700;
      line-height: 120%; 
     text-decoration-line: underline; 
      text-transform: uppercase; 
  }
  .card__text {
      font-size: 20px;
  line-height: 120%;
  }
   
  .lot1_cover {
      background-image: url(../images/card-lot-01.jpg);
  }
  
  .lot2_cover {
      background-image: url(../images/card-lot-02.jpg);
  }
  
  .lot3_cover {
      background-image: url(../images/card-lot-03.jpg);
  }
  
  .lots__look-more-link {
      padding: 30px 40px 0;
      font-size: 20px;
  text-decoration: underline;
  text-underline-position: under;
  }
  
  .about {
      display: flex;
      height: 487px;
      padding: 0 50px;
      align-items: flex-start;
      gap: 25px;
  }
  
  .about__logo_column {
      display: flex;
      width: 430px;
      height: 240px;
      padding: 0 95px;
      justify-content: center;
  }
  
  .about__logo {
      display: flex;
      justify-content: center;
      align-items: center; 
      width: 240px;
      border-radius: 240px;
      background-color: black;
  }
  
  .about__logo-image {
      width: 148px;
  }
  
  .about__title_column {
      align-self: flex-end; 
      display: inline-flex;
  height: 388px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 97px;
  }
  
  .about__title {
      font-size: 40px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  }
  
  .about__text {
      display: flex;
      flex-direction: column;
      gap: 25px;
      font-size: 20px;
  line-height: 1.19;
  }
  
  .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items:flex-start;
      padding: 180px 50px 90px;
  }
  
  .footer_menu-list {
      display: flex;
      flex-direction: column;
      align-items: center;
     line-height: 1.205;
  list-style-type: none;
  }
  
  .footer__menu-link_active .footer__menu-link {
      text-decoration: none;
      text-decoration-line: underline;
      text-underline-position: under;
  }
  
  .footer__social-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 48px;
      width: 240px;
  }
  
  .footer_social_links {
      display: block;
      width: 48px;
  }
  